
.idsobre{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.navbar{
    background-color: #b557fe;
    
}

.quem-somos{
    background-color: #9862c1;
}

.margin{
    padding-top: 40px;
    padding-bottom: 10px;
}